easy_admin:
    entities:
        Product:
            class: App\Entity\Product
            label: 'Products'
            list:
                actions:
                    - { name: 'show', icon: 'search', label: false, title: 'Show' }
                    - { name: 'edit', icon: 'pencil', label: false, title: 'Edit' }
                    - { name: 'delete', icon: 'remove', label: false, title: 'Delete' }
                fields:
                    - id
                    - category
                    - { property: tags, type: array }
                    - updatedAt
                    - { property: image, type: image, base_path: '%app.path.product_images%', template: 'vich_uploader_image.list.html.twig' }
            show:
                fields:
                    - id
                    - tags
                    - { property: image, type: image, base_path: '%app.path.product_images%', template: 'vich_uploader_image.view.html.twig' }
            form:
                fields:
                    - { type: 'group', css_class: 'col-sm-8', label: 'General information', icon: 'pencil' }
                    -   property: translations
                        type: 'A2lix\TranslationFormBundle\Form\Type\TranslationsType'
                        type_options:
                            label: false
                            fields:
                                description:
                                    field_type: 'FOS\CKEditorBundle\Form\Type\CKEditorType'
                            excluded_fields: ['slug']

                    - { type: 'group', css_class: 'col-sm-4', label: 'Grouping', icon: 'pencil' }
                    - { property: category }
                    - { type: divider }
                    - { property: tagsText, type: text, label: 'Tags' }

                    - { type: 'group', css_class: 'col-sm-4', label: 'Attachments', icon: 'paperclip' }
                    - { property: images, type: collection, type_options: { entry_type: 'App\Form\ImageType', by_reference: false } }
