{% extends 'base.html.twig' %}

{% block title %}List{% endblock title %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Products!</h1>
        <div class="lead">
            {% for product in products %}
                <a href="{{ path('product_view', { id: product.id }) }}" class="list-group-item list-group-item-action">
                    {{ product.name }}
                </a>
            {% endfor %}
        </div>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
{% endblock body %}
